:root {
  --font-primary: black;
  --font-secondary: white;
}

body, h1, h2, p, li, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.nav-bar {
  padding: 18px;
  display: flex;
  background-color: rgb(38, 38, 38);
  color: var(--font-secondary);
}

.nav-list {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav-list a:visited {
  color: var(--font-secondary);
}

.nav-list a:link {
  text-decoration: none;
}

