:root {
  --font-primary: black;
  --font-secondary: grey;
  --nav-font: white;
  --page-padding: 28px 20px 81px 110px;
  --button-secondary: rgb(0, 130, 72);
  font-family: 'Ruda', sans-serif;
}

body, h1, h2, h3, p, li, ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

img {
  background-color: rgb(237, 237, 237);
}

.landing-image {
  height: auto;
  width: 100%;
}

.landing-image-section {
  position: relative;
}

.shop-button {
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: white;
  padding: 12px 24px;
  border: none;
  font-weight: 600;
}

/** Nav Bar */

.nav-bar {
  padding: var(--page-padding);
  padding-bottom: 28px;
  padding-right: 110px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(38, 38, 38);
  color: var(--nav-font);
}

.nav-list {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 81px;
}

.nav-list a:visited,
a:visited {
  color: var(--nav-font);
}

.nav-list a:hover {
  text-decoration: underline;
}

.cart-link {
  position: relative;
}

.quantity-label {
  position: absolute;
  top: -15px;
  left: 12px;
  background-color: var(--button-secondary);
  border-radius: 50%;
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
  z-index: 1;
}

.cart-link i:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/** Common components */

.page {
  padding: var(--page-padding);
}

.page h2 {
  margin-bottom: 32px;
  margin-top: 20px;
  font-size: 2rem;
}

.items-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.product-card .card-category,
.category, .card-category {
  color: var(--font-secondary);
}

.generic-button {
  padding: 8px;
  background-color: white;
  border: none;
  text-decoration: underline;
  text-underline-offset: 6px;
  padding: 0;
  cursor: pointer;
}

.action-button {
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  color: white;
  border: none;
  background-color: var(--button-secondary);
}

.secondary-action-button {
  width: 100%;
  padding: 16px;
  margin-top: 12px;
  color: black;
  background-color: var(--button-primary);
  border: grey solid 1px;
}

/** Store */

.store-body {
  display: flex;
}

.store-categories {
  max-width: 10%;
  min-width: 10%;
  margin-right: 72px;
}

.store-categories li {
  margin-bottom: 16px;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.store-categories li:hover {
  text-decoration: underline;
}

/** Product Card */

.product-card img {
  margin-bottom: 12px;
}

.product-card p {
  color: var(--font-primary);
  margin-bottom: 4px;
}

.product-card .card-category {
  margin-bottom: 12px;
}

/** Product Page */

.product-page {
  display: flex;
  justify-content: center;
  gap: 72px;
  margin-top: 36px;
}

.product-page h2 {
  margin-bottom: 8px;
  font-weight: 500;
}

.product-info {
  min-width: 25%;
}

.product-info p {
  margin-bottom: 8px;
}

.product-info .item-quantity {
  margin: 16px 0 8px 0;
}

/** Cart */
.cart {
  margin-left: 124px;
}

.cart-body {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.cart-section-left {
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-section-right {
  min-width: 30%;
}

.cart-list {
  width: 100%;
}

.cart-item {
  display: flex;
  gap: 32px;
  padding: 16px;
}

.cart-item-info {
  width: 100%;
}

.cart-item-info > p,
.cart-item-info > div,
.cart-item-info > button {
  margin-bottom: 12px;
}

.cart-empty {
  font-size: 24px;
  text-align: center;
}

.cart-empty .small-label {
  font-size: 1rem;
  margin-top: 24px;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.cart-empty a:visited {
  color: black;
}

.cart-empty .small-label:hover {
  color: var(--button-secondary)
}

.info-row {
  display: flex;
  justify-content: space-between;
}

.info-row .price {
  font-weight: 600;
}

/** Cart Summary */

.cart-summary {
  padding: 0px 48px;
}

.cart-summary h3 {
  font-size: 1.3rem;
  margin-bottom: 24px;
}

.cart-summary div {
  margin-bottom: 12px;
}

/** Quantity */

.quantity-input,
.item-quantity button {
  font-size: 1rem;
}

.quantity-input {
  padding: 8px;
  text-align: center;
  width: 28px;
  border: none;
}

.quantity-input:focus {
  outline: none;
}

.item-quantity {
  width: fit-content;
  border-style: solid;
  border-color: lightgray;
  border-width: 1px;
  padding: 4px;
}

.item-quantity button {
  padding: 8px;
  background-color: white;
  border: none;
}

/** Drawer */
.drawer-container h2 {
  margin-bottom: 16px;
}

.drawer-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  padding: 48px;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  transition: all 0.3s ease-in-out;
  right: 0px;
  transform: translate(100%);
  overflow: auto;
  z-index: 10;
}

.drawer-container-open {
  transform: translate(0);
}

.page-mask {
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.drawer-container .subtotal-label {
  font-weight: bold;
  margin-top: 24px;
  margin-bottom: 12px;
  align-self: flex-end;
}

.drawer-container .subtotal {
  font-size: 1.3rem;
  align-self: flex-end;
  margin-bottom: 12px;
}

